body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u4829 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:67px;
  width:306px;
  height:531px;
  color:#949494;
}
#u4829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4830 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:84px;
  width:85px;
  height:16px;
  color:#1E1E1E;
}
#u4830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u4831 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:163px;
  width:38px;
  height:38px;
}
#u4831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u4832 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:211px;
  width:84px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u4832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u4833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6600;
}
#u4833 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:175px;
  width:170px;
  height:14px;
  font-size:11px;
  color:#FF6600;
}
#u4833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u4834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u4834 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:296px;
  width:75px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u4834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u4835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6600;
}
#u4835 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:260px;
  width:155px;
  height:14px;
  font-size:11px;
  color:#FF6600;
}
#u4835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u4836 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:248px;
  width:38px;
  height:38px;
}
#u4836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u4837 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:130px;
  width:127px;
  height:16px;
  color:#0099FF;
}
#u4837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u4838 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:337px;
  width:113px;
  height:16px;
  color:#0099FF;
}
#u4838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u4839 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:371px;
  width:100px;
  height:55px;
  color:#FFFFFF;
}
#u4839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u4840 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:371px;
  width:100px;
  height:55px;
  color:#FFFFFF;
}
#u4840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u4841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:460px;
  width:100px;
  height:55px;
  color:#FFFFFF;
}
#u4841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:460px;
  width:100px;
  height:55px;
  color:#FFFFFF;
}
#u4842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u4843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:384px;
  width:30px;
  height:30px;
}
#u4843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:426px;
  width:30px;
  height:30px;
}
#u4844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:475px;
  width:30px;
  height:30px;
}
#u4845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:557px;
  width:113px;
  height:16px;
  color:#0099FF;
}
#u4846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:211px;
  width:88px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u4847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u4848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:296px;
  width:88px;
  height:14px;
  font-size:11px;
  color:#1E1E1E;
}
#u4848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u4849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:121px;
  width:39px;
  height:34px;
}
#u4849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:328px;
  width:39px;
  height:34px;
}
#u4850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:548px;
  width:39px;
  height:34px;
}
#u4851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:28px;
  width:139px;
  height:16px;
  color:#000000;
}
#u4852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
