body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u25212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u25212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25213 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u25213_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u25214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u25214 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:265px;
  width:235px;
  height:29px;
  font-size:24px;
}
#u25214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u25215_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:420px;
  height:50px;
}
#u25215 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:174px;
  width:414px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:410px;
  word-wrap:break-word;
}
#u25216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25217 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u25218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u25218 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:162px;
  width:33px;
  height:5px;
}
#u25218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u25219 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:159px;
  width:25px;
  height:10px;
}
#u25219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25220 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:158px;
  width:31px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u25221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25221 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:154px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25222 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:154px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u25222_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25222_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25222_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25222_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u25223 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:180px;
  width:22px;
  height:35px;
  color:#FFFFFF;
}
#u25223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#949494;
}
#u25224 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:306px;
  width:341px;
  height:19px;
  font-size:16px;
  color:#949494;
}
#u25224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u25225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#949494;
}
#u25225 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:335px;
  width:341px;
  height:19px;
  font-size:16px;
  color:#949494;
}
#u25225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u25226_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:5px;
}
#u25226 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:465px;
  width:61px;
  height:2px;
}
#u25226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25227_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:5px;
}
#u25227 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:465px;
  width:61px;
  height:2px;
}
#u25227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25228_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:5px;
}
#u25228 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:465px;
  width:61px;
  height:2px;
}
#u25228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25229_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:64px;
  height:5px;
}
#u25229 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:465px;
  width:61px;
  height:2px;
}
#u25229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25231_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:58px;
}
#u25231 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:400px;
  width:2px;
  height:55px;
}
#u25231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25232 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:400px;
  width:347px;
  height:67px;
  overflow:hidden;
}
#u25232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:67px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25233 {
  position:absolute;
  left:84px;
  top:652px;
  visibility:hidden;
}
#u25233_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:238px;
  background-image:none;
}
#u25233_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:238px;
  background:inherit;
  background-color:rgba(220, 223, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:238px;
}
#u25235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:44px;
}
#u25236 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:191px;
  width:97px;
  height:44px;
}
#u25236_img.mouseDown {
}
#u25236.mouseDown {
}
#u25236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:43px;
}
#u25237 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:192px;
  width:97px;
  height:43px;
}
#u25237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:48px;
}
#u25238 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:71px;
  width:38px;
  height:48px;
}
#u25238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u25239 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:129px;
  width:53px;
  height:48px;
  color:transparent;
}
#u25239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u25240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u25240 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:129px;
  width:53px;
  height:48px;
  color:transparent;
}
#u25240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u25241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u25241 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:129px;
  width:53px;
  height:48px;
  color:transparent;
}
#u25241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u25242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:48px;
}
#u25242 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:129px;
  width:53px;
  height:48px;
  color:transparent;
}
#u25242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u25243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:48px;
}
#u25243 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:129px;
  width:54px;
  height:48px;
  color:transparent;
}
#u25243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:50px;
  word-wrap:break-word;
}
#u25244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u25244 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:12px;
  width:36px;
  height:47px;
}
#u25244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u25245 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:72px;
  width:36px;
  height:47px;
}
#u25245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25246 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:72px;
  width:38px;
  height:47px;
}
#u25246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u25247 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:72px;
  width:36px;
  height:47px;
}
#u25247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25248 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:72px;
  width:38px;
  height:47px;
}
#u25248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u25249 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:72px;
  width:36px;
  height:47px;
}
#u25249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25250 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:72px;
  width:38px;
  height:47px;
}
#u25250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25251 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:72px;
  width:38px;
  height:47px;
}
#u25251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:47px;
}
#u25252 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:72px;
  width:35px;
  height:47px;
}
#u25252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25253 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:72px;
  width:38px;
  height:47px;
}
#u25253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:47px;
}
#u25254 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:12px;
  width:35px;
  height:47px;
}
#u25254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25255 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:12px;
  width:38px;
  height:47px;
}
#u25255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u25256 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:12px;
  width:36px;
  height:47px;
}
#u25256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25257 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:12px;
  width:38px;
  height:47px;
}
#u25257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:47px;
}
#u25258 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:12px;
  width:36px;
  height:47px;
}
#u25258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25259 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:12px;
  width:38px;
  height:47px;
}
#u25259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25260 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:12px;
  width:38px;
  height:47px;
}
#u25260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:47px;
}
#u25261 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:12px;
  width:35px;
  height:47px;
}
#u25261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:47px;
}
#u25262 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:12px;
  width:38px;
  height:47px;
}
#u25262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:45px;
}
#u25263 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:131px;
  width:49px;
  height:45px;
}
#u25263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:44px;
}
#u25264 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:131px;
  width:49px;
  height:44px;
  color:transparent;
}
#u25264_img.mouseDown {
}
#u25264.mouseDown {
}
#u25264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:45px;
  word-wrap:break-word;
}
#u25265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:44px;
}
#u25265 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:191px;
  width:202px;
  height:44px;
}
#u25265_img.mouseDown {
}
#u25265.mouseDown {
}
#u25265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25266 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:477px;
  width:184px;
  height:60px;
  overflow:hidden;
}
#u25266_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25266_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:60px;
}
#u25267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u25267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:178px;
  word-wrap:break-word;
}
