body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:2011px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:26px;
  width:758px;
  height:2011px;
  color:#949494;
}
#u5206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCCC;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:243px;
  width:1px;
  height:16px;
  color:#00CCCC;
}
#u5207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u5208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:41px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u5208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:489px;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:357px;
  width:1px;
  height:488px;
}
#u5209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:763px;
  height:9px;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:77px;
  width:758px;
  height:4px;
}
#u5210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5211_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:763px;
  height:9px;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:113px;
  width:758px;
  height:4px;
}
#u5211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:86px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:117px;
  width:748px;
  height:1324px;
}
#u5214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:20px;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:20px;
  text-align:left;
}
#u5214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:74px;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:748px;
  height:74px;
  text-align:left;
}
#u5215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:744px;
  word-wrap:break-word;
}
#u5216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:93px;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:748px;
  height:93px;
  text-align:left;
}
#u5216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:744px;
  word-wrap:break-word;
}
#u5217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:819px;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:748px;
  height:819px;
  text-align:left;
}
#u5217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:744px;
  word-wrap:break-word;
}
#u5218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:318px;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1006px;
  width:748px;
  height:318px;
  text-align:left;
}
#u5218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:744px;
  word-wrap:break-word;
}
#u5219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:134px;
  width:191px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u5220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1468px;
  width:263px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1500px;
  width:748px;
  height:474px;
}
#u5222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:474px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:474px;
  text-align:left;
}
#u5222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:744px;
  word-wrap:break-word;
}
