body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1691px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:574px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:21px;
  width:327px;
  height:574px;
}
#u2796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:584px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:16px;
  width:365px;
  height:584px;
}
#u2797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:612px;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:16px;
  width:350px;
  height:612px;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:534px;
  width:327px;
  height:51px;
}
#u2799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:566px;
  width:358px;
  height:87px;
}
#u2800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:87px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:534px;
  width:361px;
  height:51px;
}
#u2801_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:536px;
  width:391px;
  height:53px;
}
#u2802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
