body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1691px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:574px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:21px;
  width:327px;
  height:574px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:584px;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:16px;
  width:365px;
  height:584px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:654px;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:11px;
  width:391px;
  height:654px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:534px;
  width:327px;
  height:51px;
}
#u1721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:600px;
  width:391px;
  height:53px;
}
#u1722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:1330px;
  top:534px;
  width:361px;
  height:51px;
}
#u1723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:536px;
  width:391px;
  height:53px;
}
#u1724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:53px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
