body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:24px;
  width:306px;
  height:479px;
  color:#949494;
}
#u4382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCCC;
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:519px;
  width:1px;
  height:16px;
  color:#00CCCC;
}
#u4383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u4384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:30px;
  width:57px;
  height:16px;
}
#u4384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4385_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:75px;
  width:306px;
  height:4px;
}
#u4385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4386 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:100px;
  width:73px;
  height:16px;
}
#u4386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u4387_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u4387 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:135px;
  width:306px;
  height:4px;
}
#u4387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:37px;
}
#u4388 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:89px;
  width:44px;
  height:37px;
}
#u4388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4389 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:155px;
  width:279px;
  height:16px;
}
#u4389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u4390_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u4390 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:185px;
  width:306px;
  height:4px;
}
#u4390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4391 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:202px;
  width:279px;
  height:16px;
}
#u4391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u4392_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u4392 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:232px;
  width:306px;
  height:4px;
}
#u4392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:36px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4393 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:90px;
  width:403px;
  height:36px;
}
#u4393_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:383px;
  word-wrap:break-word;
}
#u4394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:36px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4394 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:192px;
  width:245px;
  height:36px;
}
#u4394_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u4395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:36px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4395 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:146px;
  width:245px;
  height:36px;
}
#u4395_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
