body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:24px;
  width:306px;
  height:479px;
  color:#949494;
}
#u5192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00CCCC;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:519px;
  width:1px;
  height:16px;
  color:#00CCCC;
}
#u5193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u5194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:30px;
  width:57px;
  height:16px;
}
#u5194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5195_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:75px;
  width:306px;
  height:4px;
}
#u5195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:100px;
  width:73px;
  height:16px;
}
#u5196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u5197_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:135px;
  width:306px;
  height:4px;
}
#u5197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:37px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:89px;
  width:44px;
  height:37px;
}
#u5198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:155px;
  width:279px;
  height:16px;
}
#u5199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u5200_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:185px;
  width:306px;
  height:4px;
}
#u5200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:202px;
  width:279px;
  height:16px;
}
#u5201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u5202_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:311px;
  height:9px;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:232px;
  width:306px;
  height:4px;
}
#u5202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:36px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:90px;
  width:403px;
  height:36px;
}
#u5203_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:383px;
  word-wrap:break-word;
}
#u5204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:36px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:192px;
  width:245px;
  height:36px;
}
#u5204_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u5205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:36px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:146px;
  width:245px;
  height:36px;
}
#u5205_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
