body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u4767 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:67px;
  width:306px;
  height:531px;
  color:#949494;
}
#u4767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4768 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:84px;
  width:57px;
  height:16px;
  color:#1E1E1E;
}
#u4768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u4769 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:130px;
  width:141px;
  height:16px;
  color:#0099FF;
}
#u4769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u4770 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:337px;
  width:113px;
  height:16px;
  color:#0099FF;
}
#u4770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u4771 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:557px;
  width:113px;
  height:16px;
  color:#0099FF;
}
#u4771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u4772 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:121px;
  width:39px;
  height:34px;
}
#u4772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u4773 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:328px;
  width:39px;
  height:34px;
}
#u4773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:548px;
  width:39px;
  height:34px;
}
#u4774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:26px;
  width:100px;
  height:16px;
  color:#000000;
}
#u4775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
