body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:50px;
  width:750px;
  height:1569px;
}
#u2990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#949494;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:174px;
  width:387px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#949494;
}
#u2991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  word-wrap:break-word;
}
#u2992_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:390px;
  height:5px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:243px;
  width:387px;
  height:2px;
}
#u2992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#949494;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:264px;
  width:373px;
  height:33px;
  font-size:28px;
  color:#949494;
}
#u2993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u2994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#949494;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:905px;
  width:417px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#949494;
}
#u2994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u2995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:50px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:110px;
  width:161px;
  height:50px;
}
#u2995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#949494;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:343px;
  width:513px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#949494;
}
#u2996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  white-space:nowrap;
}
#u2997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#949494;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:433px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#949494;
}
#u2997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:495px;
  width:661px;
  height:24px;
  font-size:20px;
}
#u2998_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u2999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:545px;
  width:661px;
  height:48px;
  font-size:20px;
}
#u2999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u3000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:617px;
  width:661px;
  height:24px;
  font-size:20px;
}
#u3000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u3001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:667px;
  width:661px;
  height:48px;
  font-size:20px;
}
#u3001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u3002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:743px;
  width:661px;
  height:24px;
  font-size:20px;
}
#u3002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u3003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:793px;
  width:661px;
  height:48px;
  font-size:20px;
}
#u3003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u3004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:596px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:986px;
  width:635px;
  height:596px;
}
#u3004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
