body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u2153_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u2154_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:420px;
  height:50px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:174px;
  width:414px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:410px;
  word-wrap:break-word;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:162px;
  width:33px;
  height:5px;
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:159px;
  width:25px;
  height:10px;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:157px;
  width:31px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u2160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:154px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:154px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u2161_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2161_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2161_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2161_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:180px;
  width:22px;
  height:35px;
  color:#FFFFFF;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#949494;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:565px;
  width:1px;
  height:19px;
  font-size:18px;
  color:#949494;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:238px;
  width:101px;
  height:22px;
  font-size:18px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:463px;
  width:108px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:463px;
  width:20px;
  height:22px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:492px;
  width:62px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:519px;
  width:43px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:492px;
  width:49px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:519px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:492px;
  width:62px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:519px;
  width:184px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:580px;
  width:43px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:580px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:580px;
  width:193px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:658px;
  width:135px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:658px;
  width:20px;
  height:22px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:687px;
  width:62px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:687px;
  width:49px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u2180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:687px;
  width:62px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:714px;
  width:62px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:714px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:714px;
  width:193px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u2184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:733px;
  width:62px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:733px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:752px;
  width:62px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:752px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:733px;
  width:193px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:752px;
  width:193px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:281px;
  width:393px;
  height:102px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  word-wrap:break-word;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:422px;
  width:101px;
  height:22px;
  font-size:18px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
