body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:58px;
  width:306px;
  height:474px;
}
#u3943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:71px;
  width:113px;
  height:16px;
}
#u3944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:106px;
  width:76px;
  height:30px;
  color:#FFFFFF;
}
#u3945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u3946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:106px;
  width:76px;
  height:30px;
}
#u3946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u3947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:106px;
  width:76px;
  height:30px;
}
#u3947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:156px;
  width:300px;
  height:360px;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  color:#000000;
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:0px;
  width:84px;
  height:36px;
  color:#000000;
}
#u3950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u3951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:36px;
  color:#000000;
}
#u3951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:60px;
  height:36px;
  color:#000000;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:60px;
  height:36px;
  color:#000000;
}
#u3953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:36px;
  height:30px;
  color:#000000;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  word-wrap:break-word;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:36px;
  width:84px;
  height:30px;
  color:#000000;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u3956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:36px;
  width:60px;
  height:30px;
  color:#000000;
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:36px;
  width:60px;
  height:30px;
  color:#000000;
}
#u3957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:36px;
  width:60px;
  height:30px;
  color:#000000;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:36px;
  height:30px;
  color:#000000;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  word-wrap:break-word;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:66px;
  width:84px;
  height:30px;
  color:#000000;
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:66px;
  width:60px;
  height:30px;
  color:#000000;
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:66px;
  width:60px;
  height:30px;
  color:#000000;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:66px;
  width:60px;
  height:30px;
  color:#000000;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:36px;
  height:28px;
  color:#000000;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:96px;
  width:84px;
  height:28px;
  color:#000000;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:96px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:96px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:96px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:36px;
  height:28px;
  color:#000000;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:124px;
  width:84px;
  height:28px;
  color:#000000;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:124px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:124px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:124px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:36px;
  height:28px;
  color:#000000;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:152px;
  width:84px;
  height:28px;
  color:#000000;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:152px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:152px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:152px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:36px;
  height:28px;
  color:#000000;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:180px;
  width:84px;
  height:28px;
  color:#000000;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:180px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:180px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:180px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:36px;
  height:28px;
  color:#000000;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:208px;
  width:84px;
  height:28px;
  color:#000000;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:208px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:208px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:208px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:28px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:36px;
  height:28px;
  color:#000000;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:236px;
  width:84px;
  height:28px;
  color:#000000;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:236px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:236px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:236px;
  width:60px;
  height:28px;
  color:#000000;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:36px;
  height:24px;
  color:#000000;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:264px;
  width:84px;
  height:24px;
  color:#000000;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:264px;
  width:60px;
  height:24px;
  color:#000000;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:264px;
  width:60px;
  height:24px;
  color:#000000;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:264px;
  width:60px;
  height:24px;
  color:#000000;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:36px;
  height:24px;
  color:#000000;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:288px;
  width:84px;
  height:24px;
  color:#000000;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:288px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:288px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:288px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:36px;
  height:24px;
  color:#000000;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:312px;
  width:84px;
  height:24px;
  color:#000000;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:312px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:312px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:312px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:36px;
  height:24px;
  color:#000000;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:336px;
  width:84px;
  height:24px;
  color:#000000;
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:336px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:336px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:336px;
  width:60px;
  height:24px;
  color:#000000;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u4014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:34px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:58px;
  width:218px;
  height:34px;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:198px;
  word-wrap:break-word;
}
#u4015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:21px;
  width:165px;
  height:16px;
  color:#000000;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
