body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u25330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u25330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25332 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
}
#u25332_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u25333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u25333 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:154px;
  width:412px;
  height:64px;
  font-size:20px;
}
#u25333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u25334 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:179px;
  width:22px;
  height:35px;
  color:#FFFFFF;
}
#u25334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25335 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:179px;
  width:121px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u25336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25337 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u25337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u25338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u25338 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:162px;
  width:33px;
  height:5px;
}
#u25338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u25339 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:159px;
  width:25px;
  height:10px;
}
#u25339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25340 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:158px;
  width:31px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u25340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u25341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25341 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:154px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u25341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25342 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:154px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u25342_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25342_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25342_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25342_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25343 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:218px;
  width:412px;
  height:2px;
}
#u25343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u25344 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:764px;
  width:369px;
  height:16px;
  color:#949494;
}
#u25344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u25345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u25345 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:720px;
  width:271px;
  height:24px;
  font-size:20px;
}
#u25345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u25346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:267px;
}
#u25346 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:311px;
  width:263px;
  height:267px;
}
#u25346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25347 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:154px;
  width:414px;
  height:736px;
  overflow:hidden;
  visibility:hidden;
}
#u25347_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25347_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u25349_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u25350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u25350 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:25px;
  width:22px;
  height:35px;
  color:#FFFFFF;
}
#u25350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25351 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:25px;
  width:121px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u25352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u25352 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:610px;
  width:369px;
  height:16px;
  color:#949494;
}
#u25352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u25353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u25353 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:566px;
  width:271px;
  height:24px;
  font-size:20px;
}
#u25353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u25354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:138px;
}
#u25354 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:240px;
  width:140px;
  height:138px;
}
#u25354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:412px;
  height:2px;
}
#u25355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
  visibility:hidden;
}
#u25356_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25356_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u25358_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u25359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u25359 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:25px;
  width:22px;
  height:35px;
  color:#FFFFFF;
}
#u25359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25360 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:25px;
  width:121px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u25361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u25361 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:610px;
  width:369px;
  height:16px;
  color:#949494;
}
#u25361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u25362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u25362 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:566px;
  width:271px;
  height:24px;
  font-size:20px;
}
#u25362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u25363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:141px;
}
#u25363 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:240px;
  width:143px;
  height:141px;
}
#u25363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:412px;
  height:2px;
}
#u25364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
  visibility:hidden;
}
#u25365_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25365_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u25367_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u25368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:35px;
}
#u25368 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:25px;
  width:22px;
  height:35px;
  color:#FFFFFF;
}
#u25368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25369 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:25px;
  width:121px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#434343;
}
#u25369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u25370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u25370 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:598px;
  width:271px;
  height:24px;
  font-size:20px;
}
#u25370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u25371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:2px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:412px;
  height:2px;
}
#u25371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u25372 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:89px;
  width:271px;
  height:22px;
  font-size:18px;
}
#u25372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u25373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u25373 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:121px;
  width:376px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u25373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:372px;
  word-wrap:break-word;
}
#u25374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u25374 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:646px;
  width:376px;
  height:40px;
  font-size:18px;
}
#u25374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:372px;
  word-wrap:break-word;
}
#u25375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:100px;
}
#u25375 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:278px;
  width:101px;
  height:100px;
}
#u25375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
